@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-primary: hsla(152, 32%, 19%, 1);
    --color-secondary: hsla(152, 23%, 27%, 1);
    --color-accent: hsla(0, 0%, 100%, 1);
}

body {
    /* background: radial-gradient(50% 50% at 50% 50%, #355546 0%, #213F31 100%); */
}